a{
	margin: 0;
}	
	a img{
		background: none;
	}
	figure img{
		width: 100%;
	}
#footerwrap{
	background: #b9cc29;
	color: #fff;
	padding: 0;
}
	#footerwrap h4{
		font-size: 18px;
		margin: 0;
		text-transform: uppercase;
	}
	#footerwrap .container{
		padding: 3.2rem 0;
	}
	#footerwrap .creditos{
		background: #28282e;
		color: #76767b;
		padding: 2.8em 0;
	}
		#footerwrap .creditos .margen{
			margin: 0 auto;
			max-width: 1230px;
		}
		#footerwrap .creditos .cc{
			font-size: 9px;
			margin-right: 5rem;
		}
	#footerwrap .direcion-redes{
		height: 86px;
		margin: 0 auto;
		width: 70%;
	}
		#footerwrap .direcion-redes span{
			display: inline-block;
			vertical-align: middle;
		}
		#footerwrap .direcion-redes .cl1{
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			-moz-justify-content: center;
			justify-content: center;
			position: relative;
		}
		#footerwrap .direcion-redes .cl2{
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			-moz-justify-content: center;
			justify-content: center;
			position: relative;
		}
		#footerwrap .direcion-redes .col-icon{
			color: #c0d105;
			font-size: 28px;
		}
		#footerwrap .direcion-redes .red{
			color: #fff;
			cursor: pointer;
			font-size: 21px;
			margin-right: 2rem;
		}
	#footerwrap .vigilado{
		display: none;
		width: 20%;
	}
#sb-container{
	z-index: 1050;
}
#greywrap{
	padding-bottom: 3em;
	padding-top: 0;
}
#headerwrap{
	background: url(../images/fondo_header.png) no-repeat center top / cover;
	margin-top: 0;
	min-height: auto;
	padding-bottom: 6.1em;
	padding-top: 43px;
	position: relative;
}
	#headerwrap .texto-video{
		background: rgba(0,0,0,0.7);
		bottom: 0;
		color: #fff;
		font-size: 21px;
		left: 0;
		letter-spacing: 4px;
		padding: 0.735rem 0;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
#logo{
	width: 13em;
}
.botondiv{
	margin-top: 11.5rem;
}
.botonP{
	border: 0;
	padding: 0.2rem 2.5rem;
	font-size: 17px;
}
.button-green{
	background: #b9cc29;
	color: #333333;
	display: block;
	font-weight: bold;
	margin: 0 auto;
	text-transform: uppercase;
}
.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
.flex-between{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
}
.flex-column{
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-justy-center{
	-webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.flex-align-center{
	-webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.form-horizontal .checkbox{
	margin-left: 16px;
	text-align: left;
}
.formdise{
	margin: 10rem auto 0 auto;
	text-align: left;
	width: 46%;
}
	.formdise .resp{
		font-size: 18px;
		font-weight: normal;
		margin: 2.8rem 0;
	}
	.formdise .span-form, .formdise .span-form{
		margin: -1px 2.5rem 0 0;
	}
.galeriregion,.galeriregionB{
	margin-bottom: 2rem;
}
	.galeriregion figure,.galeriregionB figure{
		width: 20%;
	}
		.galeriregion figure img:hover,.galeriregionB figure img:hover{
			-webkit-filter: grayscale(0.8);
			-moz-filter: grayscale(0.8);
			-ms-filter: grayscale(0.8);
			filter: grayscale(0.8);
		}
.input-checks-radio1 input[type=radio]{
	display: none;
}
.input-checks-radio1 input[type=radio] + label{
	font-weight: 300;
	cursor: pointer;
}
.input-checks-radio1 input[type=radio] + label span{
	background: url(../images/radio_check.png) -50px top no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 23px;
	vertical-align: middle;
	width: 23px;
}
.input-checks-radio1 input[type=radio]:checked + label span{
	background: url(../images/radio_check.png) -74px top no-repeat;
}
.ladda-button[data-size=xs]{
	background: #b9cc29;
	color: #333333;
	width: 130px;
}
.ladda-button[data-size=xs] .ladda-label{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.logo2{
	margin: 54px auto 0 auto;
	width: 179px;
}
.log-tendencia{
	background: rgba(40,40,46,0.4);
	left: -85px;
	position: fixed;
	top: 42%;
	-webkit-transform: translateY(-50%) rotate(-90deg);
	-ms-transform: translateY(-50%) rotate(-90deg);
	-moz-transform: translateY(-50%) rotate(-90deg);
	transform: translateY(-50%) rotate(-90deg);
	width: 	212px;
	z-index: 10;
}
.modal-video{
	background: rgba(0,0,0,0.7);
	bottom: 0;
	color: #fff;
	font-size: 23px;
	letter-spacing: 3px;
	padding: 0.7rem 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.navbar-brand{
	font-size: initial;
	height: auto;
	line-height: initial;
	padding: 0;
	margin: 0;
}
.navbar-inverse{
	background-color: #b9cc29;
	padding: 0.8em 0;
}
	.navbar-inverse .navbar-nav > li > a{
		color: #fff;
	}
.navbar-nav{
	margin-top: 9px;
}
.navbar-toggle{
	color: #fff;
}
.secG{
	padding: 5em 0 0 0;
}
.sec-gris{
	background: #f5f5f5;
}
.services{
	background-color: #000;
	background-image: url(../images/fondo_footerc.png);
	background-size: cover;
	padding: 3em 0 2em 0;
}
	.services .centered{
		color: #fff;
		font-size: 35px;
		margin: 1.5em 0 0.5em 0;
		font-weight: bold;
		text-transform: uppercase;
	}
.subt1{
	margin: 0 auto 4em auto;
	width: 50%;
}
	.subt1 h2{
		color: #b0cf44;
		font-size: 37px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 38px 0 0 0;
		text-align: center;
	}
	.subt1 h3{
		font-size: 19px;
		text-align: left;
	}
.text-center{
	text-align: center !important;
}
.textoM{
	margin-top: 4.3em;
}
	.textoM p{
		color: #fff;
		font-size: 23px;
		font-weight: 500;
		margin-bottom: 34px;
		text-shadow: 0 0 5px #000;
	}
.trivia{
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	height: 11.9em;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}
	.trivia a{
		background: #b0cf44;
		border-radius: 14px;
		color: #fff;
		font-size: 36px;
		font-weight: bold;
		padding: 0.25em 2.35em;
		text-align: center;
		text-transform: uppercase;
	}
.vid{
	position: relative;
	top: 3.5em;
}
	.vid iframe{
		height: 470px;
		width: 100%;
	}
@media screen and (max-width: 1280px){
	#footerwrap .creditos .cc{
		margin-right: 10%;
	}
		#footerwrap .direcion-redes .col-icon{
			font-size: 23px;
		}
		#footerwrap .direcion-redes .red{
			font-size: 14px;
		}
}
@media screen and (max-width: 1180px){
	#footerwrap .creditos .cc{
		margin: 0 auto;
	}
	#footerwrap .creditos .margen{
		margin: 0 1em;
	}
	#footerwrap .direcion-redes .cl1{
		width: 100%;
	}
	#footerwrap .direcion-redes .red{
		margin: 0 auto;
	}
	.visible-lg{
		display: initial !important;
	}
}
@media screen and (max-width: 991px){
	.col-lg-12{
		padding: 0;
	}
	.formdise{
		width: 90%;
	}
	.hidden-sm{
		display: initial !important;
	}
	.visible-lg{
		display: none!important;
	}
}
@media screen and (max-width: 700px){
	#footerwrap .vigilado,#footerwrap .direcion-redes{
		margin: 0.5rem auto;
		width: 100%;
	}
		#footerwrap .vigilado figure{
			margin: 0 auto;
			width: 80%;
		}
	.end-footer{
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.formdise .span-form, .formdise .span-form{
		margin: -1px 1rem 0 0;
	}
	.galeriregion,.galeriregionB{
		flex-wrap: wrap;
		width: 40%;
	}
	.galeriregion figure,.galeriregionB figure{
		width: 25%;
	}
	.subt1{
		width: 90%;
	}
	.trivia a{
		font-size: 24px;
	}
}
@media screen and (max-width: 500px){
	#footerwrap .direcion-redes{
		height: auto;
	}
		#footerwrap .direcion-redes .cl1{
			-webkit-box-direction: normal;
			-moz-box-direction: normal;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			left: 0;
			margin: 1rem auto;
		}
		#footerwrap .direcion-redes .cl2{
			left: 0;
			margin: 1rem auto;
		}
		#footerwrap .direcion-redes .red{
			text-align: left;
			margin: 0.5rem auto;
			width: 70%;
		}
		#headerwrap .texto-video{
			font-size: 14px;
			padding: 0.535rem 0;
		}
	.galeriregion,.galeriregionB{
		margin: 1rem auto 2rem auto;
		width: 90%;
	}
	.galeriregion figure,.galeriregionB figure{
		width: 25%;
	}
	.modal-video{
		font-size: 15px;
		padding: 0;
	}
	.subt1 h2{
		font-size: 30px;
	}
	.subt1 h3{
		font-size: 19px;
	}
	.textoM p{
		text-align: center;
	}
	.trivia a{
		font-size: 16px;
	}
	.vid iframe{
		height: 195px;
	}
}
@media screen and (max-width: 350px){
	.services .centered{
		font-size: 30px;
	}
	.textoM p{
		font-size: 18px;
	}
}