/* Sidebar Anchor
---------------------------------------------------------------------------------------------- */
.navbar-brand
  font-family: 'Leckerli One', cursive
  font-weight: 800
  font-size: 30px !important
  padding: 8px 0px !important
  display: none

.navbar
  border-radius: 0px !important
  margin-right: 0
  padding: 0 30px
  position: relative
  height: 50px
  vertical-align: middle

.navbar .btn
  background: none
  border-color: transparent
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  padding: 4px 0
  height: 20px
  line-height: 20px

.navbar .btn i
  font-size: 21px
  width: 22px
  line-height: 20px
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15)

.sidebar
  height: 100% !important
  position: absolute
  left: 0

.sidebar a
  font-weight: 400
  text-decoration: none !important

.sidebar a:hover
  margin-left: 10px !important
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out

.sidebar a.logo:hover
  margin-left: 0px !important

.sidebar .wrapper
  padding: 0 20px

.sidebar .nav
  padding: 0 0 20px

.sidebar .nav > li,
.sidebar .nav > li > ul > li
  margin-bottom: 2px

.nav > li > ul > li > a
  position: relative
  display: block

.nav > li ul
  list-style: none
  padding-left: 5px
  display: none
  margin-left: 20px

.sidebar .nav > li > a,
.sidebar .nav > li ul > li > a
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
  line-height: 20px
  padding: 8px 5px 8px 0px
  margin: 0
  text-shadow: inherit
  font-size: 13px
  font-weight: 500

.sidebar .nav > li ul > li > a
  padding: 4px 5px 4px 0

.sidebar .nav > li > a > i,
.sidebar .nav > li ul > li > a > i
  display: inline-block
  font-size: 14px
  margin: 0 15px 0 10px
  text-align: center
  width: 20px

.sidebar .nav > li a .label
  background: none
  -webkit-border-radius: 18px
  -moz-border-radius: 18px
  border-radius: 18px
  font-size: 15px
  font-weight: 500
  float: right
  line-height: 20px
  padding: 0 10px

.sidebar .nav > li + .nav-header
  margin-top: 20px

.sidebar .nav .nav-header
  font-size: 11px
  font-weight: 400
  text-shadow: none

/* User Dropdown
---------------------------------------------------------------------------------------------- */
.user-dropdown
  float: right

.border-user-dropdown
  height: 99%

.user-avatar
  width: 25px
  height: 25px
  border-radius: 50%
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  padding: 2px
  margin-right: 5px

.dropdown-menu
  left: auto
  right: 0
  min-width: 250px
  font-size 17px

#user-menu.dropdown-menu li:first-child
  padding: 5px

#user-menu.dropdown-menu li img.user-avatar
  width: 50px
  height: 50px
  border-radius: 50%
  padding: 2px
  margin-right: 10px

.user-dropdown a
  padding-left: 15px
  font-size: 16px
  text-decoration: none
  line-height: 50px !important
  cursor: pointer

.open>#user-menu.dropdown-menu
  border-radius: 0
  padding-top: 0
  padding-bottom: 0

#user-menu.dropdown-menu li .avatar
  width: 30px
  height: 30px
  border-radius: 0%
  margin-right: 10px
  border: none
  padding: 2px
  float: left
  font-size: 20px

#user-menu.dropdown-menu li:last-child a
  text-align: center
  margin: 0 -1px -1px -1px

#user-menu.dropdown-menu li .message
  font-size: 16px
  line-height: 30px
  text-align: center
  white-space: normal
  word-wrap: break-word

.unread-container
  position: relative

.unread-container:hover
  text-decoration: none

.iconbar-unread
  background-color: #F5040A
  border-radius: 50%
  color: #ffffff
  font-family: 'Lato', Helvetica, Arial, sans-serif
  font-size: 10px
  font-weight: 700
  line-height: 14px
  min-width: 14px
  padding: 0px 0px
  position: absolute
  text-align: center
  -webkit-font-smoothing: auto
  left: 18px
  top: -7px

