
/*Responsive
---------------------------------------------------------------------------------------------- */
sidebar-width = 250px
-sidebar-width = -250px

@media(max-width:767px) 
  .right-content 
    margin-left 0px 
  .sidebar
    left -sidebar-width 

@media(min-width:768px)
  .right-content 
    margin-left sidebar-width
  .sidebar 
    left 0px

@media(min-width:992px)
  .right-content 
    margin-left sidebar-width
  .sidebar 
    left 0px

@media(min-width:1200px)
  .right-content 
    margin-left sidebar-width
  .sidebar 
    left 0px

/*Animations
---------------------------------------------------------------------------------------------- */
@keyframes animateDistractor
  0%
    left 100px
    top 0
  80%
    left 0
    top 0
  85%
    left 0
    top -20px
    width 20px
    height 20px
  90%
    width 40px
    height 15px
  95%
    left 100px
    top -20px
    width 20px
    height 20px
  100%
    left 100px
    top 0

/*General
---------------------------------------------------------------------------------------------- */
.frame
  position inherit
  overflow hidden
  
.navbar, .sidebar, .sidebar .wrapper
  background main-color
  
.right-content
  transition-property margin-left
  transition-duration 1s

/*Sidebar
---------------------------------------------------------------------------------------------- */  
.sidebar
  transition-property left
  transition-duration 1s
  padding-top 15px
  width sidebar-width
  
.sidebar-btn
  float left

.sidebar-btn a
  line-height 40px !important
  
.sidebar-fixed
  background main-color
  position fixed !important

.sidebar .nav > li > a:hover,
.sidebar .nav > li.active > a,
.sidebar .nav > li ul > li > a:hover,
.sidebar .nav > li ul > li.active > a,
.sidebar .nav > li ul > li.active > a > i
  background none
  color main-text-color
  
.sidebar .nav > li ul > li.active > a
  padding-left 10px
  
.sidebar .nav > li a .label
  border 2px solid border-color
  color main-text-color
  
.nav > li ul
  border-left 0

.sidebar a, 
.sidebar .nav > li > a > i,
.sidebar .nav > li ul > li > a > i
  color secondary-text-color
  
.sidebar a:hover,
.sidebar .nav > li.active > a > i,
.sidebar .nav > li ul > li.active > a > i
  color main-text-color
  
.sidebar .nav > li > a:hover > i
  color main-text-color
  
.sidebar .nav .nav-header
  color main-text-color
  font-size 12px
  border 0
  
.sidebar .nav > li > a:focus
  background none
  
.nav>li>a:hover, .nav>li>a:focus
  background none
  
.sidebar .nav > li ul > li > a > i:hover, .sidebar .nav > li > a:hover
  color main-text-color
  
.sidebar .nav > li 
  border-top 1px solid secondary-color
  padding 8px 10px
  
.nav > li > a, .nav > li > a > i
  font-size 16px !important
  
.wrapper
  padding 0 !important

/*Navigation bar
---------------------------------------------------------------------------------------------- */
.navbar
  border-left 4px solid border-color
  color main-text-color
  
.open>#user-menu.dropdown-menu
  background main-color
  
.border-user-dropdown
  border-left 2px solid border-color

#user-menu.dropdown-menu li img.user-avatar,
.user-avatar
  border 2px solid secondary-text-color;
  
.navbar a,
ul.dropdown-menu>li>a
  color main-text-color
  
.navbar a:hover,
.navbar .btn i
  color secondary-text-color
  
.user-dropdown a:hover
  color secondary-text-color

ul.dropdown-menu>li>a
  color main-text-color

ul.dropdown-menu>li>a:hover
  background secondary-color
  color secondary-text-color
  
#user-menu.dropdown-menu li:last-child a
  background error-color
  color #FFFFFF
  
#user-menu.dropdown-menu li:first-child
  color secondary-text-color