
@import 'nib/vendor'

@import 'font-awesome.min.css'
@import 'sweetalert2.min.css'
@import 'normalize.styl'
@import 'simplePagination.styl'
@import 'archon_edited.styl'

vendor-prefixes = o ms moz webkit official

body-color = #EEEFF2
main-title-color = #3B3B3B

main-color = #143066
secondary-color = #0e5da0

border-color = #79C1FD
error-color = #E74C3C

main-text-color = #FFFFFF
secondary-text-color = #989DAC

@font-face {
    font-family: 'texgyreadventor';
    src: url('fonts/texgyreadventor-regular-webfont.eot');
    src: url('fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreadventor';
    src: url('fonts/texgyreadventor-bold-webfont.eot');
    src: url('fonts/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor-bold-webfont.woff2') format('woff2'),
         url('fonts/texgyreadventor-bold-webfont.woff') format('woff'),
         url('fonts/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Tags
---------------------------------------------------------------------------------------------- */
body
  background body-color
  font-family 'texgyreadventor', 'Helvetica Neue', Arial, Helvetica, sans-serif;

tbody
  background #F9F9F9

td
  vertical-align middle !important
  word-wrap break-word

a:hover
  text-decoration none

/* General
---------------------------------------------------------------------------------------------- */
form div[class*=col-]
  padding-left 0
  padding-right 0

.separator-top
  margin-top 15px

.separator-bottom
  padding-bottom 20px

.separator-right
  padding-right 20px
  
.separator-left
  padding-left 20px

.clearfix
  clear both

.margin-gral
  margin 15px

#buscador
  min-width 300px

#searchGroup,
#finder button
  padding-right 10px

.mainTitle
  padding-top 20px
  padding-bottom 20px
  padding-left 0px
  font-size 25px
  font-weight bold
  color main-title-color
  text-transform uppercase

.logoIndex
  padding 15px 0
  margin 0 auto

.addLink:hover
  text-decoration none

.table
  margin-bottom 0px

#pageForm
  padding-bottom 20px

.table-responsive,
.table-responsive2
  border 1px solid #ddd
  padding 0
  margin-left 15px
  margin-right 15px
  overflow hidden

.table-responsive2
  overflow-y hidden
  overflow-x scroll
  -ms-overflow-style -ms-autohiding-scrollbar
  -webkit-overflow-scrolling touch

#finder
  padding-left 15px

.btn
  margin 3px

#alertInline
  float right
  margin-bottom 0
  display none

.form-group.required .control-label:after
  content "*"
  color red

.fileTD,
.fileTD a
  text-align center
  color #000000
  font-size 26px
  
.file-group
  position absolute
  top -3px
  right -3px
  pointer-events none
  
.file-label
  float left
  z-index -1
  pointer-events none
  
input[type="file"].form-control
  z-index 5
  position absolute
  opacity 0
  
.file-wrapper
  position relative
  
.main-icon
  font-size 18px
  
.input-inline
  display inline-block
  width 95%
  margin-right 5px
  
.control-label
  word-break break-all
  
#mainTable tbody tr td  img
   display block 
   margin 0 auto

/* Paginator
---------------------------------------------------------------------------------------------- */
#paginator
  padding-top 20px
  padding-bottom 20px
  padding-left 15px

/* Galeria
---------------------------------------------------------------------------------------------- */
.containerGaleria
  margin 5px 0

.opcionesGaleria
  position absolute
  border-radius 6px 0 6px 0
  max-width 100%
  padding 5px
  display none
  background main-color

/* Numeric Stepper
---------------------------------------------------------------------------------------------- */
.stepper
  display flex

.stepper-control
  display inline-block

.ui-spinner
  width 60px

.ui-spinner input
  width 35px

.ui-spinner input:focus
  outline 0

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
  background none
  cursor pointer

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
  border 1px solid #d3d3d3

/* Sortable Table
---------------------------------------------------------------------------------------------- */
.ui-sortable-helper
  cursor move

/* Date Picker
---------------------------------------------------------------------------------------------- */  
.ui-datepicker
  z-index 50 !important

/*Mapas
---------------------------------------------------------------------------------------------- */
#map_canvas
  width 100%
  height 500px

/*Alerta
---------------------------------------------------------------------------------------------- */
.modal-dialog
  margin-top 50px
  
/*Distractor
---------------------------------------------------------------------------------------------- */
#modal
  display none
  opacity .7
  position fixed
  top 0px
  left 0px
  background #3B3B3B
  width 100%
  z-index 10000

#distractor
  display none
  position fixed
  border-radius 7px
  width 120px
  height 20px
  z-index 10000

#distractor div
  width 20px
  height 20px
  background #FFF
  border-radius 50%
  position absolute

#d1
  animation animateDistractor 2s linear infinite

#d2
  animation animateDistractor 2s linear infinite -.4s

#d3
  animation animateDistractor 2s linear infinite -.8s

#d4
  animation animateDistractor 2s linear infinite -1.2s

#d5
  animation animateDistractor 2s linear infinite -1.6s

@import 'estilos.styl'