.sweet-alert,.sweet-overlay
  position fixed
  display none

.sweet-overlay
  background-color rgba(0,0,0,.4)
  left 0
  right 0
  top 0
  bottom 0
  z-index 1000

.sweet-alert
  background-color #fff
  font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  border-radius 5px
  box-sizing border-box
  text-align center
  left 50%
  top 50%
  margin-top -200px
  max-height 90%
  overflow-x hidden
  overflow-y auto
  z-index 2000
  h2
    color #575757
    font-size 30px
    font-weight 600
    text-transform none
    line-height 60px
    display block
  p
    font-size 16px
    font-weight 300
    float none
    line-height normal
  hr
    height 10px
    color transparent
    border 0
  button
    &.styled
      color #fff
      border 0
      box-shadow none
      font-size 17px
      font-weight 500
      border-radius 5px
      padding 10px 32px
      margin 0 5px
      cursor pointer
      &:focus
        outline 0
      &.sweet-cancel[disabled]
        opacity .4
      &.sweet-confirm[disabled]
        border 4px solid transparent
        width 40px
        height 40px
        padding 0
        margin 0 30px
        vertical-align middle
        background-color transparent!important
        color transparent
        cursor default
        border-radius 100%
        -webkit-animation rotate-loading 1.5s linear 0s infinite normal
        animation rotate-loading 1.5s linear 0s infinite normal
      &::-moz-focus-inner
        border 0
  .icon
    width 80px
    height 80px
    border 4px solid grey
    border-radius 50%
    margin 20px auto
    padding 0
    position relative
    box-sizing content-box
    &.error
      border-color #f27474
      .x-mark
        position relative
        display block
      .line
        position absolute
        height 5px
        width 47px
        background-color #f27474
        display block
        top 37px
        border-radius 2px
        &.left
          -webkit-transform rotate(45deg)
          transform rotate(45deg)
          left 17px
        &.right
          -webkit-transform rotate(-45deg)
          transform rotate(-45deg)
          right 16px
    &.warning
      border-color #f8bb86
      .body
        position absolute
        width 5px
        height 47px
        left 50%
        top 10px
        border-radius 2px
        margin-left -2px
        background-color #f8bb86
      .dot
        position absolute
        width 7px
        height 7px
        border-radius 50%
        margin-left -3px
        left 50%
        bottom 10px
        background-color #f8bb86
    &.info
      border-color #c9dae1
      &::before
        width 5px
        height 29px
        left 50%
        bottom 17px
        border-radius 2px
        margin-left -2px
      &::after
        width 7px
        height 7px
        border-radius 50%
        margin-left -3px
        top 19px
    &.success
      border-color #a5dc86
      &::before
        border-radius 120px 0 0 120px
        top -7px
        left -33px
        -webkit-transform rotate(-45deg)
        transform rotate(-45deg)
        -webkit-transform-origin 60px 60px
        transform-origin 60px 60px
      &::after
        border-radius 0 120px 120px 0
        top -11px
        left 30px
        -webkit-transform rotate(-45deg)
        transform rotate(-45deg)
        -webkit-transform-origin 0 60px
        transform-origin 0 60px
      .placeholder
        width 80px
        height 80px
        border 4px solid rgba(165,220,134,.2)
        border-radius 50%
        box-sizing content-box
        position absolute
        left -4px
        top -4px
        z-index 2
      .fix
        width 5px
        height 90px
        background-color #fff
        position absolute
        left 28px
        top 8px
        z-index 1
        -webkit-transform rotate(-45deg)
        transform rotate(-45deg)
      .line
        height 5px
        background-color #a5dc86
        display block
        border-radius 2px
        position absolute
        z-index 2
        &.tip
          width 25px
          left 14px
          top 46px
          -webkit-transform rotate(45deg)
          transform rotate(45deg)
        &.long
          width 47px
          right 8px
          top 38px
          -webkit-transform rotate(-45deg)
          transform rotate(-45deg)
  .sweet-image
    margin 20px auto

.sweet-alert h2,.sweet-alert p
  text-align center
  margin 0
  padding 0
  position relative

.sweet-alert[data-has-cancel-button=false]
  button
    box-shadow none!important

.sweet-alert .icon.info::after,.sweet-alert .icon.info::before
  background-color #c9dae1
  content ''
  position absolute

.sweet-alert .icon.success::after,.sweet-alert .icon.success::before
  content ''
  position absolute
  width 60px
  height 120px
  background #fff

@-webkit-keyframes
  showSweetAlert
    0%{-webkit-transform scale(.7)
    transform scale(.7)
  animate-success-tip
    0%,54%{width 0
    left 1px
    top 19px
  animate-error-icon
    0%{-webkit-transform rotateX(100deg)
    transform rotateX(100deg)
    opacity 0
  animate-x-mark
    0%,50%{-webkit-transform scale(.4)
    transform scale(.4)
    margin-top 26px
    opacity 0
  pulse-warning
    0%{border-color #f8d486
  pulse-warning-ins
    0%{background-color #f8d486
  rotate-loading
    0%{-webkit-transform rotate(0)
    transform rotate(0)

45%
  -webkit-transform scale(1.05)
  transform scale(1.05)
  -webkit-transform scale(1.05)
  transform scale(1.05)

80%
  -webkit-transform scale(.95)
  transform scale(.95)
  -webkit-transform scale(.95)
  transform scale(.95)
  -webkit-transform scale(1.15)
  transform scale(1.15)
  margin-top -6px
  -webkit-transform scale(1.15)
  transform scale(1.15)
  margin-top -6px

100%
  -webkit-transform scale(1)
  transform scale(1)
  -webkit-transform scale(1)
  transform scale(1)
  -webkit-transform scale(.5)
  transform scale(.5)
  -webkit-transform scale(.5)
  transform scale(.5)
  width 25px
  left 14px
  top 45px
  width 25px
  left 14px
  top 45px
  width 47px
  right 8px
  top 38px
  width 47px
  right 8px
  top 38px
  -webkit-transform rotateX(0)
  transform rotateX(0)
  opacity 1
  -webkit-transform rotateX(0)
  transform rotateX(0)
  opacity 1
  -webkit-transform scale(1)
  transform scale(1)
  margin-top 0
  opacity 1
  -webkit-transform scale(1)
  transform scale(1)
  margin-top 0
  opacity 1
  border-color #f8bb86
  border-color #f8bb86
  background-color #f8bb86
  background-color #f8bb86
  -webkit-transform rotate(360deg)
  transform rotate(360deg)
  -webkit-transform rotate(360deg)
  transform rotate(360deg)

}@keyframes
  showSweetAlert
    0%{-webkit-transform scale(.7)
    transform scale(.7)
  hideSweetAlert
    0%{-webkit-transform scale(1)
    transform scale(1)
  animate-success-tip
    0%,54%{width 0
    left 1px
    top 19px
  animate-success-long
    0%,65%{width 0
    right 46px
    top 54px
  rotatePlaceholder
    0%,5%{-webkit-transform rotate(-45deg)
    transform rotate(-45deg)
  animate-error-icon
    0%{-webkit-transform rotateX(100deg)
    transform rotateX(100deg)
    opacity 0
  animate-x-mark
    0%,50%{-webkit-transform scale(.4)
    transform scale(.4)
    margin-top 26px
    opacity 0
  pulse-warning
    0%{border-color #f8d486
  pulse-warning-ins
    0%{background-color #f8d486
  rotate-loading
    0%{-webkit-transform rotate(0)
    transform rotate(0)

}@-webkit-keyframes
  hideSweetAlert
    0%{-webkit-transform scale(1)
    transform scale(1)
  animate-success-long
    0%,65%{width 0
    right 46px
    top 54px
  rotatePlaceholder
    0%,5%{-webkit-transform rotate(-45deg)
    transform rotate(-45deg)

}.show-sweet-alert
  -webkit-animation showSweetAlert .3s
  animation showSweetAlert .3s

.show-sweet-alert
  &.no-animation
    -webkit-animation none
    animation none

.hide-sweet-alert
  -webkit-animation hideSweetAlert .2s
  animation hideSweetAlert .2s
  &.no-animation
    -webkit-animation none
    animation none

70%
  width 50px
  left -8px
  top 37px
  width 50px
  left -8px
  top 37px

84%
  width 17px
  left 21px
  top 48px
  width 17px
  left 21px
  top 48px
  width 55px
  right 0
  top 35px
  width 55px
  right 0
  top 35px

100%,12%
  -webkit-transform rotate(-405deg)
  transform rotate(-405deg)
  -webkit-transform rotate(-405deg)
  transform rotate(-405deg)

}.animate-success-tip
  -webkit-animation animate-success-tip .75s
  animation animate-success-tip .75s

.animate-success-long
  -webkit-animation animate-success-long .75s
  animation animate-success-long .75s

.icon
  &.success
    &.animate
      &::after
        -webkit-animation rotatePlaceholder 4.25s ease-in
        animation rotatePlaceholder 4.25s ease-in

}.animate-error-icon
  -webkit-animation animate-error-icon .5s
  animation animate-error-icon .5s

}.animate-x-mark
  -webkit-animation animate-x-mark .5s
  animation animate-x-mark .5s

}.pulse-warning
  -webkit-animation pulse-warning .75s infinite alternate
  animation pulse-warning .75s infinite alternate

}.pulse-warning-ins
  -webkit-animation pulse-warning-ins .75s infinite alternate
  animation pulse-warning-ins .75s infinite alternate

